@{
    ViewData["Title"] = "User " + ViewData["UserName"];
    Dictionary<string, string> userData = (Dictionary<string, string>)ViewData["UserData"];
}

<div class="text-center">
    @foreach(var item in userData)
    {
        <p>@item.Key : @item.Value</p>
    }
</div>